body{
    background-color: white;
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    display: grid;
    place-items: center;
}

button {
    background-color: red;
    color: white;
    padding: 20px;
    border-radius: 10px; /* adjust as needed for desired level of rounding */
    font-size: larger;
    border: none;
    width: 200px; /* adjust as needed for desired size */
    height: 80px; /* adjust as needed for desired size */
}
.translator {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 75%;
    
}