body{
    background-color: white;
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    display: grid;
    place-items: center;
}

.loading {
    border: 8px solid #d1d0d0; /* Light gray */
    border-top: 8px solid #292d30; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}