* {
    margin: 0;
    padding: 0;
}
body{
    background: #fff;
    width: 100%;
    height: 100%;
    font: italic small-caps bold 64px/2 cursive;
    font-size: 70px;
    /* font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0;
    text-rendering: optimizeSpeed; */
}
div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Optionally, you can set a fixed width and height for the centered div */
    width: 600px;
    height: 200px;
}

span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

button{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 300px;
    height: 100px;
    background-color: white;
    border: 0;
}